@font-face {
    font-family: 'Changa';
    src: url('./fonts/Changa-Regular.woff2') format('woff2'),
        url('./fonts/Changa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header h1 {
    font-family: "Changa", sans-serif;
}